* {
  margin: 0;
  padding: 0;
}
.test {
  border: 2px solid;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.linear-bg-content {
  background: linear-gradient(180deg, rgb(224 242 255) 0%, rgb(172 172 251 / 30%) 50.52%, rgb(224 242 255 / 96%) 100%);
}

.linear-bg-content-h{
  background: linear-gradient(90deg, rgb(224 242 255) 0%, rgb(192 192 251 / 30%) 50.52%, rgb(224 242 255 / 96%) 100%);;
}
.linear-bg-content-h-hov{
  background: linear-gradient(90deg, rgb(194 212 225) 0%, rgb(162 162 221 / 30%) 50.52%, rgb(194 212 225 / 96%) 100%);;
}

.dark-to-transparent-card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.375) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.6) 37.5%);
}

.event-card-container {
  background: #ffffff;
  border: 1px solid #cecece;
  box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
}

.table-shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
